* {
    box-sizing: border-box;
}

.header__title {
    text-align: center;
}

.nav,.section,.aside{
    float:left;
    margin:10px;
}

.nav {
    width: 20%;
}

.section {
    width: 50%;
}

.aside {
    width: 20%;
}

.footer {
    clear:both;
}

.footer__text {
    text-align: center;
}