* {
    box-sizing: border-box;
}

.headerMain--title {
    text-align: center;
}

.navLeft,.sectionMain,.asideRight{
    float:left;
    margin:10px;
}

.navLeft {
    width: 20%;
}

.sectionMain {
    width: 50%;
}

.asideRight {
    width: 20%;
}

.footerMain {
    clear:both;
}

.footerMain--text {
    text-align: center;
}