
html * {
    margin:15px;
    border-radius: 25px;
}

body {
        background-color: #363C3D;
        color:white;
        text-align: center;
        font-size: 20px;
        box-sizing: border-box;
}

.header {
    background-color: #596163;
    margin-bottom: 0px;;
    height: 80px;
}

.navigation,.content {
    background-color: #596163;
    float:left;
    height: 480px;
}

.sidebar {
    background-color: #596163;
    float:right;
    height: 480px;
    width: 21%;
}

.navigation {
    width: 21%;

}

.content {
    width: 50%;
    margin-left: 23px;
}

.footer {
    background-color: #596163;
    clear:both;
    height: 60px;
    margin: 15px;
}

.content__elem1,.content__elem2,.content__elem3 {
    background-color: #C3C6C7;
}
.content__elem1,.content__elem3 {
    height: 70px;
}

.content__elem2 {
    height: 250px;
}

