
html * {
    border-radius: 25px;
    margin: 15px;
}

body {
    background-color: #363C3D;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    text-align: center;
}

.header {
    background-color: #596163;
    height: 80px;
    margin-bottom: 0px;;
}

.navigation, .content {
    background-color: #596163;
    float: left;
    height: 480px;
}

.sidebar {
    background-color: #596163;
    float:right;
    height: 480px;
    width: 21%;
}

.navigation {
    width: 21%;
}

.content {
    width: 50%;
    margin-left: 23px;
}

.footer {
    background-color: #596163;
    clear: both;
    height: 60px;
    margin: 15px;
}

.content--elem1,.content--elem2,.content--elem3 {
    background-color: #C3C6C7;
}
.content--elem1,.content--elem3 {
    height: 70px;
}

.content--elem2 {
    height: 250px;
}

