* {
    background-color: white;
    margin: 15px;
}

.main {
    font-size: 15px;
    text-align: center;
}

.main_hidden {
    display: none;
    opacity: 0;
}

.main_show {
    animation: fadein 5s;
    color: blue;
    display: block;
}

.repoAside {
    float: right;
}

@keyframes fadein {
    from { 
        opacity: 0;
    }
    to { opacity: 1;
    }
}

@-moz-keyframes fadein {
    from { 
        opacity: 0;
    }
    to { opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from { 
        opacity: 0;
    }
    to { opacity: 1;
    }
}

@-o-keyframes fadein {
    from { 
        opacity: 0;
    }
    to { opacity: 1;
    }
}

@-ms-keyframes fadein {
    from { 
        opacity: 0;
    }
    to { opacity: 1;
    }
}